.page-header
  = link_to new_examplet_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Examplet
  %h1 Listing examplets

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Type
        %th
        %th
        %th

    %tbody
      - @examplets.each do |examplet|
        %tr
          %td= examplet.name
          %td= examplet.type
          %td= link_to 'Show', examplet
          %td= link_to 'Edit', edit_examplet_path(examplet)
          %td= link_to 'Destroy', examplet, :data => { confirm: 'Are you sure?' }, :method => :delete
