= form_for @example do |f|
  -if @example.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@example.errors.count, "error")} prohibited this example from being saved:"

      %ul
        - @example.errors.full_messages.each do |msg|
          %li= msg

  
  .row
    .col-md-12
      .form-group
        = f.label :name, :class => 'control-label'
        = f.text_field :name, :class => 'form-control', :required => true
     
      .form-group
        = f.label :example_date, :class => 'control-label'
        = f.date_field :example_date, :class => 'form-control' 

      .form-group
        = f.file_field :example_photo
        = f.hidden_field :example_photo_cache

      .form-group
        = f.submit :class => 'btn btn-primary'
